@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');


* {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}


.custom-icon {
    width: 2em;
    height: 2em;
    margin-right: 10px;
    margin-bottom: 10px;
}

.custom-icon-exp {
    width: 8em;
    height: 6.5em;
    margin-right: 10px;
    margin-bottom: 10px;
}

.custom-icon-exp-ver {
    width: 8em;
    height: 6.5em;
    margin-right: 10px;
    margin-bottom: 10px;
}

img {
    width: 100%;
    display: flex;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: wheat;
}

nav {
    max-width: 1200px;
    margin: auto;
    padding: 2rem 1rem;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    /* gap: 2rem; */
}

.nav-logo {
    width: 12rem;
    height: 12rem;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.link a {
    position: relative;
    padding-bottom: 0.75rem;
    color: black;
}

.link a::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: orange;
    transition: all 0.3s ease;
}

.link a:hover::after {
    width: 70%;
}

.btn {
    padding: 1rem 2rem;
    font-size: 1rem;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    color: black;
    background-color: transparent;
    border: 2px solid black;
}

.btn:hover {
    background-color: orange;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 5rem 2rem;
}

.blur {
    position: absolute;
    box-shadow: 0 0 1000px 50px #1d4ed8;
    z-index: -100;
}

header {
    position: relative;
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

header .content h4 {
    margin-bottom: 1rem;
    color: black;
    font-size: 1rem;
    font-weight: 600;
}

header .content h1 {
    color: black;
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 700;
    line-height: 4rem;
}

header .content h1 span {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px black;
}

header .content p {
    margin-bottom: 2rem;
    color: black;
}

header .image {
    position: relative;
}

header .image::before {
    content: "o";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 38rem;
    font-weight: 400;
    line-height: 20rem;
    color: #1d4ed8;
    opacity: 0.2;
    z-index: -100;
}

header .image img {
    max-width: 600px;
    margin: auto;
}

section .header {
    margin-bottom: 1rem;
    color: black;
    text-align: center;
    font-size: 2.25rem;
    font-weight: 600;
}

.features {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.features .card {
    background-color: orange;
    padding: 1rem;
    border: 2px solid transparent;
    border-radius: 15px;
    transition: all 0.3s ease;
}

.features .card:hover {
    background-color: wheat;
    border-color: orange;
}


.features .card span {
    display: inline-block;
    background-color: #1e40af;
    padding: 2px 9px;
    margin-bottom: 1rem;
    font-size: 1.75rem;
    color: #fff;
    border-radius: 5px;
}

.features .card h4 {
    margin-bottom: 0.5rem;
    color: black;
    font-size: 1.2rem;
    font-weight: 600;
}



.Projets {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.Projets .card {
    background-color: orange;
    padding: 1rem;
    border: 2px solid transparent;
    border-radius: 15px;
    transition: all 0.3s ease;
}

.Projets .card:hover {
    background-color: wheat;
    border-color: orange;
}

.Projets .card:hover {
    background-color: wheat;
    border-color: orange;
    cursor: pointer;
}

.Projets .card span {
    display: inline-block;
    background-color: #1e40af;
    padding: 2px 9px;
    margin-bottom: 1rem;
    font-size: 1.75rem;
    color: #fff;
    border-radius: 5px;
}

.Projets .card h4 {
    margin-bottom: 0.5rem;
    color: black;
    font-size: 1.2rem;
    font-weight: 600;
}




.sub-header {
    max-width: 600px;
    margin: auto;
    text-align: center;
    color: #ccc;
}

.pricing {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.pricing .card {
    padding: 3rem 2rem;
    background-color: orange;
    display: flex;
    flex-direction: column;
    border: 2px solid transparent;
    border-radius: 15px;
    transition: all 0.3s ease;
}

.pricing .card:hover {
    background-color: wheat;
    border-color: orange;
}

.pricing .card .content {
    flex: 1;
    margin-bottom: 2rem;
}

.pricing .card h4 {
    margin-bottom: 1rem;
    color: black;
    font-size: 1.2rem;
    font-weight: 500;
}

.pricing .card h3 {
    color: black;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 600;
    border-bottom: 2px dashed black;
}

.pricing .card p {
    color: black;
    margin-bottom: 0.75rem;
}

.pricing .card p i {
    color: black;
    font-size: 1.2rem;
    margin-right: 0.3rem;
}

.pricing .card button {
    color: black;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 5px;
}

.pricing .card button:hover {
    background-color: orange;
    border-color: orange;

}

.socials {
    display: flex;
    justify-content: center;

}

.socials:hover {
    cursor: pointer;
}

footer .header {
    text-align: center;
    margin-bottom: 50px;
}


.copyright {
    max-width: 1200px;
    margin: auto;
    padding: 1rem;
    color: black;
    font-size: 0.8rem;
    text-align: center;
}

@media (width < 900px) {
    .nav-links {
        display: none;
    }

    header {
        grid-template-columns: repeat(1, 1fr);
    }

    header .image {
        grid-area: 1/1/2/2;
    }

    .features,
    .Projets {
        grid-template-columns: repeat(2, 1fr);
    }

    .pricing {
        grid-template-columns: repeat(2, 1fr);
    }

    footer {
        grid-template-columns: 1fr 200px;
    }
}

@media (width < 600px) {
    header .image::before {
        display: none;
    }

    .features,
    .Projets {
        grid-template-columns: repeat(1, 1fr);
    }

    .pricing {
        grid-template-columns: repeat(1, 1fr);
    }

    footer {
        grid-template-columns: 1fr 150px;
    }
}